/* 1 */

:root{
    --accent-color : white;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    background-size: 200%;
    animation: moveGradient 2.5s linear infinite;
    overflow: hidden;
}

.row{

    display: flex;
    justify-content: center;
    align-items: center;
}

.col2{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.square{
    width: 40vh;
    height: 40vh;

    position: relative; 
}

.circle{
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    background: radial-gradient(black 40%, var(--accent-color));
    transition: 1s;
}

.circle1{
    box-shadow: 2px 0 15px rgb(207, 240, 88), inset 2px 0 15px rgb(207, 240, 88);
    border-radius:35% 65% 60% 40%/ 41% 44% 56% 59%;
    animation: ani1 2s ease-out infinite;
}

.circle2{
    box-shadow: 0 2px 15px rgb(100, 254, 94), inset 0 2px 15px rgb(100, 254, 94);
    border-radius: 65% 35% 55% 45%/ 39% 42% 58% 61%;
    animation: ani2 4s ease-in infinite;
}

.circle3{
    box-shadow: 2px 2px 15px rgb(106, 250, 238), inset 2px 2px 15px rgb(106, 250, 238);
    border-radius: 32% 68% 56% 44%/ 34% 36% 64% 66%;
    animation: ani1 5s ease-in-out infinite;
}

.circle4{
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background: none;
    background-color: black;
    border-radius: 50%;
}

#particles-js{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 10%;
    top: 10%;
    animation: ani1 8s ease-in-out infinite;
}

@keyframes ani1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@keyframes ani2 {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.ask_question{
    color:  var(--accent-color);
    background-size: 200% ;
}

/* 2 */
.text-center{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#TextInput{
    width: 80%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#chatBox{
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 1000px;
    box-shadow: 0 0 10px var(--accent-color);
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    caret-color: var(--accent-color);
}

#chatBox:focus{
    outline: none;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#sendBtn{
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    font-size: 1.5rem;
    position: relative;
}

#sendBtn:hover{
    color: white;
    padding: 0 5px;
}

#sendBtn::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 90%;
    border-radius: 5px;
    background-size: 200%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#sendBtn:hover::after{
    width: 100%;
    background-color: black;
}

#micBtn{
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    font-size: 1.5rem;
    position: relative;
}

#micBtn:hover{
    color: white;
    padding: 0 5px;
}

#micBtn::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 90%;
    border-radius: 5px;
    background-size: 200%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#micBtn:hover::after{
    width: 100%;
    background-color: black;
}



#chatBtn{
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    font-size: 1.5rem;
    position: relative;
}

#chatBtn:hover{
    color: white;
    padding: 0 5px;
}

#chatBtn::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 90%;
    border-radius: 5px;
    background-size: 200%;
    bottom: 0;
    left: 0;
    z-index: -1;
    
}

#chatBtn:hover::after{
    width: 100%;
    background-color: black;
}

#settingBtn{
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    font-size: 1.5rem;
    position: relative;
}

#settingBtn:hover{
    padding: 0 5px;
    color: white;
}

#settingBtn::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 90%;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    z-index: -1;
    
}

#settingBtn:hover::after{
    width: 100%;
    background-color: black;
}

@keyframes moveGradient {
    to{
        background-position: 200%;
    }
}

.siriMsg{
    font-size: 1.2rem;
}



/* chat history */

.chatHistory{
    background-color: #000000BB;
    color: white;
}

.userMsg{
    max-width: 90%;
    width: auto;
    color: #00d4ff;
    font-weight: bold;
       border: 2px solid white;
}

.assistantMsg{
    max-width: 90%;
    width: auto;
    color: rgb(100, 254, 94);
    font-weight: bold;
    border: 2px solid white;
}